#page_form
	= simple_form_for [:admin, @item] do |f|
		= f.input :title
		= f.input :slug, hint: "The slug is the URL path, eg the slug for the bio page at lapresence.ca/bio would be: “bio”"
		= f.label :content

		- if params[:use_source]
			= f.textarea :content
		- else
			= f.ckeditor :content
		
		.btn-group
		= f.input :seo_image
		= f.input :seo_description
  	
		= render "admin/shared/save_cancel", text: "Page"

- if @item.persisted?
	%hr
	%div.mt6.fr
		= link_to admin_page_path(@item), method: :delete, data: {confirm: "Are you sure?"}, title: "Delete", class: "btn btn-danger" do
			<i class="far fa-times-circle"></i>
			Delete Page
