#page_form
	= simple_form_for [:admin,@item] do |f|
		= f.input :title
		= f.input :content,  input_html: { id: "editor", rows: 30 }
		.btn-group
			= f.submit class: 'btn btn-primary', id: "submit"
			= link_to "Cancel", :back, class: 'btn btn-default'

= content_for :js do
	<script type="text/javascript">ClassicEditor.create( document.querySelector( '#editor' ) ).catch( error => {console.error( error );} );</script>