#page_form
	= simple_form_for [:admin,@item] do |f|
		= f.input :title
		= f.input :content,  input_html: { class: "tinymce", rows: 30 }
		.btn-group
			= f.submit class: 'btn btn-primary'
			= link_to "Cancel", :back, class: 'btn btn-default'
- content_for :js, tinymce 