= simple_form_for [:admin, @item], html: {class: 'form-vertical' } do |f|

  - if @item.persisted?
    = react_component "WorkshopPub", {published: @item.published, atelierId: @item.id}, {tag: "span"}
    %hr
  .row
    .col-sm-3= f.input :title
  
    .col-sm-3
      = f.label :start_date
      .input-group
        = f.text_field :start_date, class: "datepicker form-control"
        .input-group-addon.clear-date Clear
    .col-sm-3
      = f.label :end_date
      .input-group
        = f.text_field :end_date, class: "datepicker form-control"
        .input-group-addon.clear-date Clear

    .col-sm-3= f.input :location
  .row
    .col-sm-3= f.input :cost
    .col-sm-3= f.input :available_spots
    .col-sm-3= f.input :schedule
    .col-sm-3
      %h3 OLD IMAGE SYSTEM
      = f.input :picture
      %textarea.pa3.w-100{rows:5}= @item.picture.url(:original)
      %h3 NEW IMAGE SYSTEM
      - if @item.image
        = image_tag @item.image_url
      = f.hidden_field :image, value: @item.cached_image_data
      = f.file_field :image 
  .row
    = f.input :content, as: :ckeditor, input_html: { ckeditor: {toolbar: "Full"}, style: "width:680px;height:500px" }
    = f.input :notes, as: :ckeditor, input_html: { ckeditor: {toolbar: "Full"}, style: "width:680px;height:500px" }

  = render "admin/shared/save_cancel", text: "Atelier"

