<tr>
	<td>
		<%= link_to image_tag(attachment.attachment.url(:thumb)), admin_attachment_path(attachment) if attachment.image? %>
	</td>
  <td><%= link_to attachment.name, admin_attachment_path(attachment) %></td>
  <td><%= attachment.content_type %></td>
  <td><%= link_to 'Link', attachment.url %></td>
  <td><%= link_to 'Edit', edit_admin_attachment_path(attachment) %></td>
  <td><%= link_to 'Delete', admin_attachment_path(attachment), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>