<dl>
  <dt>Name</dt>
  <dd><%=h @attachment.name %></dd>
  <dt>URL:</dt>
  <dd><%= link_to @attachment.url, @attachment.url %></dd>
</dl>

<%= image_tag(@attachment.attachment.url) if @attachment.image? %>

<p id="submit_buttons">
	<%= link_to 'Edit', edit_admin_attachment_path(@attachment), class: "submit" %>
	<%= link_to 'Back', admin_attachments_path, class: "submit" %>
</p>