.page-header
	%h1= t 'admin.dashboard.header'

%ul.nav.nav-stacked.nav-pills
	%li= link_to t('admin.pages.header'), admin_pages_path
	%li= link_to t('admin.ateliers.header'), admin_ateliers_path
	%li= link_to t('admin.groupes.header'), admin_groupes_path
	%li= link_to t('admin.attachments.header'), admin_attachments_path
