<%= title "La Présence Administration Dashboard", :h1 %>

<div class="item odd"><%= link_to "Pages", admin_pages_path %></div>
<div class="item even"><%= link_to "Ateliers", admin_ateliers_path %></div>
<div class="item odd"><%= link_to "Groupes", admin_groupes_path %></div>
<div class="item even"><%= link_to "Attachments", admin_attachments_path %></div>
