= simple_form_for [:admin,@item]  do |f|
  #details_tab.tab
    .row
      .col-sm-3= f.input :title

      .col-sm-3
        = f.label :start_date
        .input-group
          = f.text_field :start_date, class: "datepicker form-control"
          .input-group-addon.clear-date Clear
      .col-sm-3
        = f.label :end_date
        .input-group
          = f.text_field :end_date, class: "datepicker form-control"
          .input-group-addon.clear-date Clear

      .col-sm-3= f.input :location
    .row
      .col-sm-3= f.input :cost
      .col-sm-3= f.input :available_spots
      .col-sm-3= f.input :schedule
      .col-sm-3
        - if @item.image
          = image_tag @item.image_url
        = f.hidden_field :image, value: @item.cached_image_data
        = f.file_field :image 
    .row
      .col-sm-6= f.input :content, as: :ckeditor, input_html: {ckeditor: {toolbar: "Full"}, style: "width:680px;height:500px" }
      .col-sm-6= f.input :notes, as: :ckeditor, input_html: { ckeditor: {toolbar: "Full"}, style: "width:680px;height:500px" }
  
  = render "admin/shared/save_cancel", text: "Groupe"