= simple_form_for [:admin,@item]  do |f|
  #details_tab.tab
    .row
      .col-sm-3= f.input :title

      .col-sm-3
        = f.label :start_date
        .input-group
          = f.text_field :start_date, class: "datepicker form-control"
          .input-group-addon.clear-date Clear
      .col-sm-3
        = f.label :end_date
        .input-group
          = f.text_field :end_date, class: "datepicker form-control"
          .input-group-addon.clear-date Clear

      .col-sm-3= f.input :location
    .row
      .col-sm-3= f.input :cost
      .col-sm-3= f.input :available_spots
      .col-sm-3= f.input :schedule
      .col-sm-3
        - if @item.image
          = image_tag @item.image_url
        = f.label :image
        = f.hidden_field :image, value: @item.cached_image_data
        = f.file_field :image
    .row
      .col-sm-6
        = f.label :content
        = f.ckeditor :content
      .col-sm-6
        = f.label :notes
        = f.ckeditor :notes
  
  = render "admin/shared/save_cancel", text: "Groupe"