<%= simple_form_for [:admin,@item], :html => {:multipart=>true}  do |f| %>
	<ul class="tabs">
		<li><a href="#details_tab" class="selected">Details</a></li>
		<li><a href="#content_tab">Content</a></li>
		<li><a href="#notes_tab">Final Notes</a></li>
	</ul>
	<div id="details_tab" class="tab">
		<%= f.input :title %>
		<%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
		<%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
		<%= f.input :location %>
		<%= f.input :cost %>
		<%= f.input :available_spots %>
		<%= f.input :schedule %>
		<%= f.input :picture %>
	<% end %>
	<%= form.inputs title: "Content", id: "content_tab", class: "tab"  do %>
		<%= form.input :content,  input_html: { class: "tinymce", style: "width:680px;height:500px" } %>
	<% end %>
	<%= form.inputs title: "Final Notes", id: "notes_tab", class: "tab" do %>
		<%= form.input :notes,  input_html: { class: "tinymce", style: "width:680px;height:500px" } %>
	<% end %>
	<%= form.actions %>
<% end %>