<a name="top"></a>

<%= title "Les Ateliers", :h1 %>

<p>Horaire Des Ateliers</p>

<table class="scrollto">
	<tr>
		<th>Atelier</th>
		<th>Dates</th>
		<th>Lieu</th>
	</tr>
	<% @ateliers.each do |atelier| %>
		<tr>
			<td><%= link_to atelier.title, "#atelier_#{atelier.id}" %></td>
			<td><%= dates(atelier) %></td>
			<td><%= atelier.location %></td>
		</tr>
	<% end -%>
</table>

<%= render @ateliers %>