%a{:name => "top"}

= title t('ateliers.header'), :h1

%p= t('ateliers.subheader')

%table.scrollto
  %thead
    %tr
      %th= t 'atelier' 
      %th= t 'dates'
      %th= t 'location'
  %tbody
    - @items.each do |atelier|
      %tr
        %td= link_to atelier.title, "#atelier_#{atelier.id}"
        %td= dates(atelier)
        %td= atelier.location

= render @items
