<a name="top"></a>

<%= title "Les Groupes", :h1 %>

<p>Les Groupes Animés Par Lorraine Desmarais</p>

<table class="scrollto">
	<tr>
		<th>Groupe</th>
		<th>Dates</th>
		<th>Lieu</th>
	</tr>
	<% @items.each do |groupe| %>
		<tr>
			<td><%= link_to groupe.title, "#groupe_#{groupe.id}" %></td>
			<td><%= dates(groupe) %></td>
			<td><%= groupe.location %></td>
		</tr>
	<% end -%>
</table>

<%= render @items %>