%a{:name => "top"}

= title t('groups.header'), :h1

%p= t('groups.subheader')

%table.scrollto
  %thead
    %tr
      %th= t 'group'
      %th= t 'dates'
      %th= t 'location'
  %tbody
    - @items.each do |groupe|
      %tr
        %td= link_to groupe.title, "#groupe_#{groupe.id}"
        %td= dates(groupe)
        %td= groupe.location

= render @items
