<h1><%= link_to @item.title, @item %></h1>

<%= image_tag @item.picture.url(:thumb), class: "float_right" %>

<%= raw @item.content %>

<dl>
	<% if dates(@item).present? -%>
		<dt>Dates</dt> <dd><%= dates(@item) %></dd>
	<% end %>
	<% if @item.schedule.present? -%>
		<dt>Horaire</dt> <dd><%= @item.schedule %></dd>
	<% end -%>
	<% if @item.location.present? -%>
	<dt>Lieu</dt> <dd><%= @item.location %></dd>
	<% end -%>
	<% if @item.cost.present? -%>
	<dt>Coût</dt> <dd><%= @item.cost %></dd>
	<% end -%>
	<% if @item.available_spots.present? -%>
	<dt>Places limitées</dt> <dd><%= @item.available_spots %></dd>
	<% end -%>
	<% if @item.notes.present? -%>
	<dt>Notes complémentaires</dt> <dd><%= raw @item.notes %></dd>
	<% end %>
</dl>