%nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
	.container
		.navbar-header
			%button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			= link_to "La Présence Admin", admin_dashboard_path, class: "navbar-brand #{active_on('dashboard')}"
		.navbar-collapse.collapse.navbar-responsive-collapse
			%ul.nav.navbar-nav
				%li{class: "#{active_on('pages')}" }= link_to "Pages", admin_pages_path
				%li{class: "#{active_on('ateliers')}" }= link_to "Ateliers", admin_ateliers_path
				%li{class: "#{active_on('groupes')}" }= link_to "Groupes", admin_groupes_path
				%li{class: "#{active_on('attachments')}" }= link_to "Attachments", admin_attachments_path
				%li= link_to "Go To Site", root_path
			%ul.nav.navbar-nav.pull-right
				%li 
					%a Signed in as #{current_user.email}
				%li
					= link_to "Sign Out", destroy_user_session_path, method: :delete
