!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %title= content_for?(:title) ? yield(:title) : "Lapresence"
    = viewport_meta_tag
    = csrf_meta_tags
    = stylesheet_link_tag "admin", :media => "all"
    = stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/cupertino/jquery-ui.css'
    = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <script src="https://kit.fontawesome.com/0c6f0bfe01.js" crossorigin="anonymous"></script>
    = javascript_include_tag Ckeditor.cdn_url

    = javascript_include_tag :admin
    = javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
    
  %body
    =render "layouts/admin_nav"
    .container
      = bootstrap_flash
      = yield

    = yield :js
