<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title><%= @page_title || APP_CONFIG[:site_name] %></title>
		<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="distribution" content="all" />
		<meta name="robots" content="all" />	
		<meta name="resource-type" content="document" />
		<meta name="MSSmartTagsPreventParsing" content="true" />
	  <%= stylesheet_link_tag    "application", :media => "all" %>
		<%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/ui-lightness/jquery-ui.css' %>
		<%= tinymce_assets %>
		<%= csrf_meta_tags %>
	</head>
	<body id="admin">
		<div id="container">
				<div id="admin_header">
					<div class="actions"><%= link_to "Go To Site", root_path %></div>
					<%= link_to "La Présence Admin", admin_dashboard_path, :id => "home_link" %>
					<ul id="nav">
						<li><%= link_to "Pages", admin_pages_path, :class => "#{'selected' if controller_name == 'pages'}" %></li>
						<li><%= link_to "Ateliers", admin_ateliers_path, :class => "#{'selected' if controller_name == 'ateliers'}" %></li>
						<li><%= link_to "Groupes", admin_groupes_path, :class => "#{'selected' if controller_name == 'groupes'}" %></li>
						<li><%= link_to "Attachments", admin_attachments_path, :class => "#{'selected' if controller_name == 'attachments'}" %></li>

					</ul>
				</div>
			<div id="content">
				<%= raw flash_messages %> 
				<%= yield :layout %>
			</div>
			</div>
			<%= javascript_include_tag "application" %>
			<%= tinymce %>
	</body>
</html>